<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="customFilterApp">

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="customfilterapp.js"></script>
  <title>Creating Custom Filter</title>
</head>

<body>
  <h1>Custom filter will replace word hi to lovely</h1>
  <div ng-controller="MyCustomFilterController">

    <input type="text" ng-model="name">
    <br>
    {{name}} says:
    <br>
    {{sayHello()}}
    <br>
    {{sayLovelyHello()}}
    <div>
      <button ng-click="changePicture()">Change Picture</button>
      <br>
      Cost:{{cost | currency : "£" : 4}}
      <br>
      <img ng-src="images/{{chosenImage}}.jpg"
    </div>
    <br>
    {{"Goodbye my Team!" | lovelier | uppercase}}
    <br>
    {{"I like my team" | replacer : 'like' : 'love' | lovelier | uppercase}}
  </div>
</body>

</html>
